/* LOGO  */

.logo{
    height: 5rem;
    margin-top: 1rem;
}

/* SEARCH */

.search{
    /* background-color: greenyellow; */
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    background-color: var(--colour-grey-light-3);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width: 90%;
    transition: all .4s;

    /*Moving the margin to the left(-3) so as the button become inside the search bar*/
    margin-right: -3rem;
}

/* When focus/click search width increases to 100% */
.search__input:focus{
    width: 100;
    outline: 1px solid var(--colour-blue-light-1);
}

.search__button{
    border: none;
    background-color: var(--colour-grey-light-3);
    cursor: pointer;
    color: var(--colour-primary);
    padding-right: 2rem;
    
}

/* Adding the clicking effect on the search button */

.search__button:active{
    transform: translateY(4px);

}
/*************** LOG IN & REGISTER *******************/
/*Adding style to the log in and register button*/

.login__register{
    /* padding-right: 15px; */
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.login__button{
    cursor: pointer;
    border: none;
    background-color:var(--colour-blue-light-1);
    border-radius: 2.5rem;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0.5rem 2rem;
    
}
.login__button:active{
    background-color: var(--colour-blue-light-3);
}

.register__button{
    cursor: pointer;
    border: none;
    background-color:var(--colour-blue-light-1);
    border-radius: 4rem;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0.5rem 2rem;
}

.register__button:active{
    background-color:var(--colour-blue-light-3)
}


/*************** SIDEBAR **************/
.side-nav__item{
    height: 4rem;
}

.side-nav__link{
    position: relative;
    color: var(--colour-blue-light-3);
    display:table;
    padding-left: 20px;
    
}

.side-nav__icon{
    padding-right: 40rem;
}

.nav-item{
    margin-top: -4.5rem;
    margin-right: 30rem;
    display: block;
}

/* .side-nav__item:hover{
    height: 5rem;
    background: rgb(51, 51, 59);
}
    
    
.sidebar:hover{
    width: 20rem;
    transition: all 0.5x ease;
} */

/********CONTAINER *************/
 #Home{
    /* background: rgb(174, 212, 211); */
}

h1{
    position: absolute;
    margin-bottom: 50rem;
    color: inherit;
    font-family: Century Gothic;
    font-size: 6rem;
    margin-top: 6rem;
    margin-left: 10rem;
}

.important_dates{
    /* display: flex; */
  background-color: rgb(21, 130, 160);
  margin-top: 2rem;  
  margin-left: 70rem;
  height: 15rem;
  width: 50rem;
  align-items: center;
  transition: height 3s;
 
  
}

.important_dates:hover{
   background:var(--colour-blue-light-4);
   height: 18rem;
}

.countdown{
    margin: -4rem;
    justify-content: center;
    display: flex;
    /* transform: scale(1); */
}

.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.timer h2{
    color:aqua;
    margin: 10 0 4px;
}

.important_dates p{
    font-size: 3.5rem;
}

.intro{
    position: absolute;
    margin: 5rem 30rem  0 0;
    text-align: center;
    width: 40rem;
}


.intro p{
    text-align:justify;
    font-size: 15px;
}


 h2 {
    background: white;
    color: black;
    font-family: Century Gothic;
    font-size: 5rem;
    font-style: bold;
    margin-top: 0;
}

/*************** SPEAKERS*************/

::-webkit-scrollbar {
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

section .keynotes{
    display: flex;
    gap: 12px;
    /* max-width: 400px; */
    width: 80%;
    
    /* background: #4070f4; */
    /* border-radius: 50%; */
    padding: 80px;
    padding: 3rem 0 0 8rem;
    /* scroll-snap-type: x mandatory; */
    /* overflow-x: scroll; */
    /* scroll-padding: 30px; */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.speaker {
    display: flex;
    flex:0 0 25%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 3rem;
    background: rgb(251, 251, 251);
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    height: 37rem;
    width: 30rem;
    tr }

  
  .speaker .image {
    height: 80px;
    width: 298px;
    /* padding: 2px; */
    /* background: #4070f4; */
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    border-style: dotted;
    border-color: var(--colour-blue-light-2);
    
    
  }
  .image img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(53, 162, 186);
    position: relative;
    right: 9.8rem;
    top: -1.5rem;

  }
  .speaker h2 {
    margin-top: 15px;
    position: relative;
    top: -4.5em;
    left: 5rem;
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }
  .speaker p {
    /* margin-top: 2px; */
    font-size: 13.5px;
    text-align: center;
    color: #333;
    position: relative;
    top: -5rem;
  }


  /* Register Login */
  .login-register{
    width: 38rem;
    height: 48rem;
    position: relative;
    margin: 6% auto;
    background: var(--colour-primary);
    padding: 5px;
    overflow: hidden;

  }

.button-box{
    width: 22rem;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 2rem 9px var(--colour-blue-light-3);
    border-radius: 3rem;
}

.toogle-btn{
    padding: 1rem 3rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, var(--colour-blue-light-2), var(--colour-blue-light-1));
    border-radius: 30px;
    transition: .5s;
}

.input-form{
    top: 18rem;
    position: absolute;
    width: 28rem;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    border: 0 0 0 1px solid black;
    outline: none;
    background: transparent;
}

.login-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display:block;
    margin: auto;
    background: linear-gradient(to right, var(--colour-blue-light-2), var(--colour-blue-light-1));;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkbox-remember{
    margin: 30px 10px 30px 0;
}

span{
    color: inherit;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 5rem;
}

#register{
    left: 45rem;
}

/*************** FOOTER*************/
.social{
   width: 100%; 
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 25px ;
}

.social a{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--colour-blue-light-2);
    margin:20px;
    text-align: center;

    
}

.social .fass{
    
    color: aqua;
    padding: 2rem 2rem;
    font-size: 5rem;
    position: relative;
    justify-content: center;
   
}

.copyright{
    text-align: center;
    color: var(--colour-primary);
    padding-top: 1rem;
}

/*************** GALLERY*************/
/* 
.gallery{
    display: flex;
  }
  
  .gallery__photo1{
    width:100%;
    display: block;
    border: 5rem;
    border-color: aliceblue;
  } */





