.container{
    width: 100%;
    height: 100%;
   
   
}
.header{
    /* position: fixed;
    height: 7rem;
    /* background-color: #ffff; */
    /* border-bottom: 1px solid var(--colour-grey-light-2); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px; */
    /* background-color: #ffff; */
    position: fixed;
    top:0;
    margin-top: 1rem;
    z-index: 1;
    width: 120rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    display: flex;
    
}

/* .sidebar{
    background-color: lightskyblue;
    flex: 0 0 15%;
    background: var(--colour-grey-light-4);
    transition: width 0.2s linear;
    box-shadow: 0 10px 15px;
    font-size: inherit;
} */

.sidebar{
    background: #000;
    /* flex: 0 0 15%; */
    position: fixed;
    height: 50rem;
    width: 20rem;
    overflow: hidden;
    transition: width 0.2s linear;
    margin-top: -10rem;
    margin-left: -63rem;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

/* Log in register form */




.footer{
    /* background-color: var(--colour-footer); */
    
    height: 20rem;
}